{% extends 'base.html' %}

{% block content %}
<div class="card-tracker form-card my-4">
    <div class="card-tracker-header text-center">Редактировать задачу</div>
    <div class="p-4">
        <form id="issue-form" method="POST" action="">
            {% include 'partial/issue_form.html' %}
        </form>
    </div>
    <div class="card-tracker-footer d-flex justify-content-between">
        <a href="{% url 'issue_detail' issue.pk %}" class="btn-tracker-outline">Отмена</a>
        <button type="submit" form="issue-form" class="btn-tracker">Сохранить</button>
    </div>
</div>
{% endblock %}