{% extends 'base.html' %}

{% block content %}
<div class="card-tracker my-4" style="max-width: 650px; margin: auto;">
    <div class="card-tracker-header text-center">Новая задача</div>
    <div class="p-4">
        <form id="issue-form" action="" method="POST">
            {% include 'partial/issue_form.html' %}
        </form>
    </div>
    <div class="card-tracker-footer d-flex justify-content-between">
        <a href="{% url 'issue_list' %}" class="btn-tracker-outline">Отмена</a>
        <button type="submit" form="issue-form" class="btn-tracker">Создать</button>
    </div>
</div>
{% endblock %}