{% extends 'base.html' %}

{% block content %}
<div class="card shadow-sm my-4" style="max-width: 650px; margin: auto;">
    <div class="card-header fs-4 text-center py-3">Редактировать задачу</div>
    <div class="card-body">
        <form id="issue-form" method="POST" action="">
            {% include 'partial/issue_form.html' %}
        </form>
    </div>
    <div class="card-footer d-flex justify-content-between py-3">
        <a href="{% url 'issue_detail' issue.pk %}" class="btn btn-sm btn-outline-secondary">Отмена</a>
        <button type="submit" form="issue-form" class="btn btn-sm btn-primary">Сохранить</button>
    </div>
</div>
{% endblock %}