{% extends 'base.html' %}

{% block content %}
<div class="card shadow-sm my-4" style="max-width: 500px; margin: auto;">
    <div class="card-header fs-4 text-center py-3 text-danger">Удаление задачи</div>
    <div class="card-body text-center">
        <p class="fs-5">Вы уверены что хотите удалить задачу?</p>
        <p class="fw-bold fs-4">{{ issue.summary }}</p>
    </div>
    <div class="card-footer d-flex justify-content-between py-3">
        <a href="{% url 'issue_detail' issue.pk %}" class="btn btn-sm btn-outline-secondary">Отмена</a>
        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-sm btn-danger">Удалить</button>
        </form>
    </div>
</div>
{% endblock %}