{% extends 'base.html' %}

{% block content %}
<div class="card-tracker delete-card my-4">
    <div class="card-tracker-header text-center">Удаление задачи</div>
    <div class="p-4 text-center">
        <p class="fs-5">Вы уверены что хотите удалить задачу?</p>
        <p class="fw-bold fs-4">{{ issue.summary }}</p>
    </div>
    <div class="card-tracker-footer d-flex justify-content-between">
        <a href="{% url 'issue_detail' issue.pk %}" class="btn-tracker-outline">Отмена</a>
        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn-tracker-danger">Удалить</button>
        </form>
    </div>
</div>
{% endblock %}